*{
    margin:0;
    padding:0;
    font-family: var(--mainfont);
    /* background-color: darkgray; */
}

:root{
    --jumbotron: #b4d0ef;
    --buttons: #0061ff;
    --greyfont: #c4c6d6;
    --maingrey:#c6c6c6;
    --mainfont: 'Open Sans', sans-serif;
}

.debug{
    border:1px solid purple;
}

/* macro utilities */

.container{
    display: flex;
    flex-wrap: wrap;
    align-content: center; 
    width:56%;
    min-height:200px;
    margin-bottom: 7rem;
}

.column{
    flex-direction: column;
}

.border{
    border:1px solid var(--maingrey);
}

.centered{
    text-align: center;
}

.flex_wrap{
    display:flex;
    flex-wrap: wrap;
}
/* micro utilities and stylistic choices  */

ul{
    list-style: none;
}

u{
    color:blue;
}

p{
    font-family: var(--mainfont);
}

.img_fit{
    display: block;
    width: 100%;
}

/* text and button styles */

.bigger_text{
    font-size:2.5rem;
    font-weight: bold;
}

.big_text{
    font-size:2rem;
    font-weight: bold;
}

.text_s3{
    font-size:1.5rem;
    font-weight: bold;
}

.text_s4{
    font-weight: bold;
}

.text_sm{
    color:var(--maingrey);
}

.thight{
    line-height:normal;
}

.button{
    background-color: var(--buttons);
    border-style:none;
    border-radius:2px;
    padding: 0.75rem;
    color:white;
}

/* site header and elements */

#site_header{
    width:100%;
}

#navigate{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:1rem;
}

.navigate_part{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:2.5rem;
    font-family: var(--mainfont);
}

/* site main */

#site_main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

/* jumbotron and elements */

#jumbotron{
    position:relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100vw;
    height:550px;
    margin-bottom: 7rem;
    background-color: var(--jumbotron);
}

#jumbo_macro_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width:60%;
    height:100%;
}

#jumbo_section1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#jumbo_section2{
    display: flex;
    flex-wrap: wrap;
    max-height: 50%;
    margin-top: 2rem;
}

#jumbo_description{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    max-width: 30%;
    height:225px;
}

#jumbo_image{
    max-width:60%;
    height:200px;
}

#jumbo_image img{
    display: block;
    width:110%;
    overflow:visible;
}

#jumbo_button{
    max-width:60%;
}

#jumbo_header_text{
    font-size: 4rem;
    font-weight:bold;
}

#jumbo_arrow{
    position:absolute;
    bottom:0%;
    left:20%;
    font-size:2rem;
}

/* find your business section with cards */

.business_part{
    margin-top:2rem;
}

.card_section{
    display: flex;
    margin:0 auto;
    gap:1.5rem;
}

.card{
    width:calc((100%/12)*4);
    margin:3rem 0 -1rem 0;
}

.big{
    position:relative;
    width:100%;
}

#big_button{
    width:250px;
    position: absolute;
    top:30%;
    right:2.5%;
}

.card div{
    line-height:1.5rem;
    margin-bottom:2rem;
    padding: 0 1.5rem 0 1.5rem;
}

.card p, li{
    max-width: 600px;;
    margin: 0.75rem 0 0 0;
}

.card li::before{
    content:"\2713";
    color:blue;
    font-weight:bold;
    margin:0.5rem 0.5rem 0 0;
}

.card i{
    display: inline;
    margin-right:0.75rem;
}

.card hr{
    margin-left:1.5rem;
    border:1px solid var(--border);
    width:25%;
}

.card button{
    width:100%;
}

/* partner section */

.partner{
    justify-content: space-between; 
}

#partner_image{
    display: flex;
    flex-wrap: wrap;
    width:55%;
}

#partner_description{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-self: center;
    width:40%;
    height:60%;
    margin:0 0 4rem 1rem;
}

#partner_button{
    color:black;
    border:1.5px solid black;
    max-width: 40%;
    background-color: transparent;
}

/* clients section */

#clients{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap:2rem;
}

/* brand section */

#brands{
    display: flex;
    flex-wrap: wrap;
}

#container_brand{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height: 500px;
}

#brand_grid{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height:100%;
    margin:0 auto;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    flex-grow:1;
}

.img_brand{
    display: block;
    width:50%;
    height:50%;
}

.brand{
    /* position:relative; */
    margin:0;
    width:50%;
    height:50%;
}

.designit{
    background-color: #a2d39b;
    background-image: url("..//img/designit.svg");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
}

.asu{
    background-color:#61082b;
}

#brand1{
    margin:0;
    width:50%;
    height:50%;
    background-color: #a2d39b;
    /* border: 1rem solid #d1e9cd; */
}

#brand2{
    width:50%;
    height:50%;
    background-color: #0093ce;
}

#brand3{
    width:50%;
    height:50%;
    background-color: yellow;
}

#brand4{
    width:50%;
    height:50%;
    background-color: green;
}

#brand5{
    width:100%;
    height:100%;
    background-color: cyan;
}

/* try section */

#try{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 300px;
    background-color: var(--jumbotron);
}

.container_try{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width:56%;
}

.try_part{
    max-width:40%;
}

#try_button{
    width:250px;
    background-color: white;
    color:black;
}

/* question section */

#container_question{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    width:56%;
    min-height:300px;
    margin: 7rem 0 7rem 0;
}

.question{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:75px;
    border-top: 1px solid var(--maingrey);
    border-bottom: 1px solid var(--maingrey);
}

.question i{
    margin-right:2rem;
}

/* footer section */

#site_footer{
    position:relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    height:400px;
}

#footer_macro_container{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    width:60%;
    height:100%;
}

.footer_column{
    margin-top: 1rem;
    color:white;
    width:15%;
}

.footer_column ul{
    list-style: none;
    line-height: 2.5rem;
}

#language{
    position:absolute;
    bottom:10%;
    left:20%;
    color:grey;
}