*{
    margin:0;
    padding:0;
    background-color: darkgray;
}

:root{
    --jumbotron: #b4d0ef;
    --buttons: #0061ff;
    --mainfont: 'Open Sans', sans-serif;
}

/* debug class traces elements size in the screen */

.debug{
    border:1px solid black;
}

/* utilities */

p{
    font-family: var(--mainfont);
}

.header_text{

}

.bigger_text{
    font-size:2.5rem;
    font-weight: bold;
}

.big_text{
    font-size:2rem;
    font-weight: bold;
}

.button{
    background-color: var(--buttons);
    border-style:none;
    border-radius:2px;
    padding: 5px;
    color:white;
}

/* site header and elements */

#site_header{
    width:100%;
}

#navigate{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:1rem;
}

.navigate_part{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:2.5rem;
    font-family: var(--mainfont);
}

/* site main and other macro utilities */

#site_main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-content: center; 
    width:50%;
    min-height: 500px;
    margin-bottom: 7rem;
}

.column{
    flex-direction: column;
}

/* jumbotron and elements */

#jumbotron{
    position:relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100vw;
    height:550px;
    margin-bottom: 7rem;
    background-color: var(--jumbotron);
}

#jumbo_macro_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width:60%;
    height:100%;
}

#jumbo_section1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#jumbo_section2{
    display: flex;
    flex-wrap: wrap;
    max-height: 50%;
    margin-top: 2rem;
}

#jumbo_description{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    max-width: 30%;
    height:225px;
}

#jumbo_image{
    max-width:60%;
    height:200px;
}

#jumbo_image img{
    display: block;
    width:110%;
    overflow:visible;
}

#jumbo_button{
    max-width:60%;
}

#jumbo_header_text{
    font-size: 4rem;
    font-weight:bold;
}

#jumbo_arrow{
    position:absolute;
    bottom:0%;
    left:20%;
    font-size:2rem;
}

/* find your business section */

#your_business{
    display: flex;
    flex-flow: column wrap;
}

.cards{
    display: flex;
    justify-content: center;
}

.card{
    width:calc((100%/12)*4);
    min-height: 600px;
}

.team{
    display: flex;
    flex-flow:column wrap;
    justify-content: space-around;
    height:200px;
}

.team1{
    position:relative;
}

.team_button{
    position: absolute;
    right:0%;
    top:0%;
}

/* partner section */

.partner{
    justify-content: space-between; 
}

#partner_image{
    display: flex;
    flex-wrap: wrap;
    width:55%;
}

#partner_image img{
    display: block;
    width: 100%;
}

#partner_description{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-self: center;
    width:40%;
    height:60%;
    margin-left:1rem;
    margin-bottom:4rem;
}

#partner_button{
    color:black;
    border:1px solid black;
    max-width: 40%;
    padding:8px;
    background-color: transparent;
}

/* operation section */

#operation_cards{
    display: flex;
    flex-wrap: wrap;
    width:100%
}

.op_card{
    display: flex;
    flex-wrap: wrap;
    width:33%;
    height:200px;
}

/* clients section */

#clients{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
}

/* brand section */

#brands{
    display: flex;
    flex-wrap: wrap;
}

#container_brand{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height: 500px;
}

#brand_grid{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height:100%;
    margin:0 auto;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    flex-grow:1;
}

#brand1{
    width:50%;
    height:50%;
    background-color: red;
}

#brand2{
    width:50%;
    height:50%;
    background-color: blue;
}

#brand3{
    width:50%;
    height:50%;
    background-color: yellow;
}

#brand4{
    width:50%;
    height:50%;
    background-color: green;
}

#brand5{
    width:100%;
    height:100%;
    background-color: cyan;
}

/* try section */

#container_try{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
    height: 300px;
    margin-bottom: 7rem;
    background-color: var(--jumbotron);
}

#try_description{

}

#try_button{
}

/* question section */


/* 
.container{
    display: flex;
    flex-wrap: wrap;
    align-content: center; 
    width:50%;
    min-height: 500px;
    margin-bottom: 7rem;
}

*/